body {
    margin: 0;
    font-family: Poppins;
    background-image: linear-gradient(purple, pink, skyblue);
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    height: 80px;
    width: 80px;

}

.container {
    width: 100%;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.heading {
    margin: 30px;
}

h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    text-decoration: underline;
}

.category h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    /* text-align: center; */
    text-transform: uppercase;
    position: relative;
    text-decoration: underline;

}

/* h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #7ac400;
    left: 0;
    right: 0;
    bottom: -20px;
} */



svg {
    width: 30px;
}

header {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    padding: 20px 0;
    width: 100%;

}

.icon-cart {
    position: relative;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}

.title {
    font-size: xx-large;
}

.listProduct .item img {
    width: 90%;
    /* width: 250px;
    height: 350px;
    padding: 25px;
    margin: 25px;

    transition: transform 0.3s ease; */
    /* filter: drop-shadow(0 50px 20px #0009); */
}

.listProduct .item img :hover {
    transform: scale(1.1);
    /* Increase size of the image on hover */
    /* You can add more styles like changing opacity, adding borders, etc. */
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.listCart .item img {
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
    }
}



.btn {
    background-color: rgb(123, 160, 219);
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(5, 5, 5, 0.19);


}

.full-bg {
    background-image: linear-gradient(purple, pink, skyblue);

}

.btn-primary {
    --bs-btn-border-color: #d57deb;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dd78e2;
}

.font {
    font-family: 'Brush Script MT', cursive;
}

.font-style {
    font-weight: 300;
    font-style: italic;
}


/* footer */
footer {
    margin-top: 50px;
}

.footpanel1 {
    background-color: rgb(30, 30, 31);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.footpanel2 {
    background-color: rgb(14 2 39);
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}

/* panel */
.footpanell3 {
    background-color: black;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;

}

.footpanel4 {
    background-color: rgb(110, 105, 105);
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;

}

.pages {

    padding-top: 25px;

}

.copyright {

    padding-top: 5px;

}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}